@import "tailwindcss";


.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}

.animate-spin-slow {
  animation: spin 2s linear infinite;
}